@model ProjectBeheerder.ViewModels.WerknemerFormViewModel

@{
    ViewBag.Title = Model.Title;
}

<h2>WerknemerForm</h2>

@using (Html.BeginForm("Opslaan", "Werknemers"))

{
    <div class="form-group">
        @Html.LabelFor(x => x.Name)
        @Html.TextBoxFor(x => x.Name, new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(x => x.WerkpositieId)
        @Html.DropDownListFor(x => x.WerkpositieId, new SelectList(Model.Werkposities, "Id", "Name"), new { @class = "form-control" })
    </div>

    <div class="form-group">
        @Html.LabelFor(x => x.GeboorteDatum)
        @Html.TextBoxFor(x => x.GeboorteDatum, "{0:d MMM yyyy}", new { @class = "form-control" })
    </div>
    @Html.HiddenFor(x => x.Id);
    <button type="submit" class="btwn btn-primary"> Opslaan </button>

}

@section scripts
{

    @Scripts.Render("~/bundles/jqueryval")

}